header {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.headerStar {
    height: 30px;
}

.contact {
    display: flex;
    justify-content: center;
}

#indexShowHelp {
    background-color: #A9A6A6;
    border: 0px;
    padding: 10px 20px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer; /* Cursor style */
    color: #E0F561;
}

/* Styling for Help popup */
.contactPopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.contactContent {
    background-color: #D9D9D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.popupStar {
    height: 50px;
}

h7 {
    color: #75170B;
    font-size: 25px;
    font-weight: 700;
    
}

h8 {
    color: #75170B;
    font-size: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}

h8 a {
    color: inherit;
    text-decoration: none;
}

h8 a:hover {
    text-decoration: underline;
}

h9 {
    color: #75170B;
    font-size: 10px;
    padding-top: 30px;
    display: block;
}

h9 a {
    color: inherit;
    text-decoration: none;
}

h9 a:hover {
    text-decoration: underline;
}