.right-half {
    background-color: #E1E1E1;
    color: #FF0A8E;
}

.right-half h2{
    font-size: 55px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #1E541D;
}

.right-half button {
    margin-top: 10px; 
    font-size: 18px;
    background-color: #FF0A8E;
    color: #E1E1E1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
}

.right-half .box {
    margin-top: 100px;
}

.right-half h3{
    color: #1E541D;
    font-size: 20px;
}