---
import Layout from '../layouts/Layout.astro';
import { sanityClient } from "sanity:client";
import Project from '../components/Project.astro';
import Research from '../components/Research.astro';
import Header from '../components/Header.astro';

const projects = await sanityClient.fetch('*[_type == "project"]')
const research = await sanityClient.fetch('*[_type == "research"]')
const settings = await sanityClient.fetch('*[_type == "siteSettings"][0]')
Object.keys(settings).forEach(key => {
	console.log(key)
})
// colour names in settings
// mainBgCol
// accentCol
// researchTextCol
// mainTextCol
// researchBgCol
---

<Layout title="Sara Biatchinyi">
	<script src="../index.js"></script>
	<Header />
	<div class="container">
		<div class="overlay-left"></div>
		<div class="left-half active">
			<h2>hello, my name is</h2>
			<h1>sara biatchinyi.</h1>
			<h3>I'm a graphic designer and a creative researcher.<br>
				I'm all about observing, understanding, and applying - cultural studies and research are at the core of what I do.</h3>
			<p class="arrow">&#8595;</p>

			{projects.map(p => <Project project={p} /> )}
		</div>

		<div class="overlay-right"></div>
		<div class="right-half">
			<div class="front-page">
				<h2>sara's research space*</h2>
				<div class="buttons-container">
					{research.map(r => <button>{r.title}</button>)}
				</div>
			</div>

			{research.map(r => <Research research={r} />)}

		</div>
	</div>
</Layout>

<style>
	
</style>
