---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import { sanityClient } from "sanity:client";
import Project from '../components/Project.astro';
import Research from '../components/Research.astro';

const projects = await sanityClient.fetch('*[_type == "project"]')
const research = await sanityClient.fetch('*[_type == "research"]')
const settings = await sanityClient.fetch('*[_type == "siteSettings"][0]')
Object.keys(settings).forEach(key => {
	console.log(key)
})
// colour names in settings
// mainBgCol
// accentCol
// researchTextCol
// mainTextCol
// researchBgCol
---

<Layout title="Sara Biatchinyi">
	<script src="../index.js"></script>
	<header>

		<Image class="headerStar" src="/popupStar.png" alt='' width={35} height={35} />
		<div>
			<button class="research">research</button>
		</div>
		<Image class="headerStar" src="/popupStar.png" alt='' width={35} height={35} />
		<div>
			<button class="design">design</button>
		</div>
		<Image class="headerStar" src="/popupStar.png" alt='' width={35} height={35} />
		<div class="contact">
			<button id="indexShowHelp" class="indexShowHelp">contact</button>
		</div>
		<Image class="headerStar" src="/popupStar.png" alt='' width={35} height={35} />
	
	</header>
	<div class="container">
		<div class="overlay-left"></div>
		<div class="left-half active">
			<h2>hello, my name is</h2>
			<h1>sara biatchinyi.</h1>
			<h3>I'm a graphic designer and a creative researcher.<br>
				I'm all about observing, understanding, and applying - cultural studies and research are at the core of what I do.</h3>
			<p class="arrow">&#8595;</p>

			{projects.map(p => <Project project={p} /> )}

			<!-- Hidden header popups -->
			<div id="indexHelpPopup" class="contactPopup">
				<div class="contactContent">
					<span id="indexPopupClose"></span>
					<h7>would you like to<br> work together?<br></h7>
					<h8><a href="mailto:sarabiatchinyi@gmail.com">e-mail</a><br>
					<a href="https://www.linkedin.com/in/sara-biatchinyi-20848513b/">linkedin</a><br>
					<a href="https://www.instagram.com/sara.biatchinyi/">instagram</a><br>
					</h8>
					<Image class="popupStar" src="/popupStar.png" alt='' width={50} height={50} />
					<h9>web development by <a href="https://www.linkedin.com/in/todd-taylor-a8bba2220/" >todd taylor</a> & <a href="https://www.linkedin.com/in/jfgerrard/">jana gerrard</a></h9>
				</div>
			</div>
		</div>

		<div class="overlay-right"></div>
		<div class="right-half">
			<div class="front-page">
				<h2>sara's research space*</h2>
				<div class="buttons-container">
					{research.map(r => <button>{r.title}</button>)}
				</div>
			</div>

			{research.map(r => <Research research={r} />)}

		</div>
	</div>
</Layout>

<style>
	
</style>
