---
import { PortableText } from "astro-portabletext";
import imageUrlBuilder from "@sanity/image-url";
import { sanityClient } from "sanity:client";
import Carousel from "./Carousel.astro";
const builder = imageUrlBuilder(sanityClient);

const { project } = Astro.props;

const urlFor = (source) => {
    return builder.image(source);
};
let imageUrls:string[] = []
if(project.image && project.image.length) {
    for(const source of project.image) {
        if (source.asset != undefined) {
            imageUrls.push(urlFor(source).url())
        }
    }
}
---

<section class="project">
    <h4>{project.title}</h4>
    <p class="year">{project.year}</p>
    <Carousel imageUrls={imageUrls} />
    <PortableText value={project.description} />
</section>
