---
import { Image } from "astro:assets";
const { imageUrls } = Astro.props;
---

<div class="carousel">
    <div class="slides">
        <!-- Images -->
        {
            imageUrls.map((url: string) => {
                return (
                    <div class="slide">
                        <img src={url} alt="" />;
                    </div>
                );
            })
        }
    </div>
    <button class="prev">←</button>
    <button class="next">→</button>
</div>

<style>
    /* CSS for navigation buttons */
    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px 20px;
        background-color: #ffa4fb;
        color: #ff0a8e;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .next {
        right: -30px;
        border-radius: 10px;
        bottom: 0;
        background-color: transparent;
    }
    .prev {
        left: -30px;
        border-radius: 10px;
        bottom: 0;
        background-color: transparent;
    }
</style>
