body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "left"
                         "right";
    height: 100%;
    width: 100%;
    margin-top: 78px;
    font-family: var(--main-font);
}

.overlay-left {
    width: 100%;
    height: 100%;
    grid-area: left;
    background-color: transparent;
    transition: background-color 0.5s ease;
    z-index: 10;
    pointer-events: none;
}

.overlay-left:has(+.left-half.active), .overlay-right:has(+.right-half.active) {
    background-color: transparent;
}

.left-half, .right-half {
    flex: 1;
    transition: background-color 0.5s;
    padding: 20px;
    box-sizing: border-box;
}

.left-half {
    grid-area: left;
    background-color: #75170B;
    padding: 50px;
}

.secondSection {
    margin-top: 150px;
}

h1 {
    color: #D9D9D9;
    font-size: 70px;
    font-weight: 400;
    margin: 0;
    /* margin-top: -30px; */
}

h2, h3 {
    color: #FF0A8E;
    font-family: var(--main-font);
    font-weight: 400;
}

h2 {
    font-size: 70px;
    margin: 0;
}

.left-half h3 {
    font-size: 36px;
    margin: 0.5em 0;
    max-width: 500px;
    line-height: 1.2;
}

h4, p {
    color: #D9D9D9;
}

.left-half h4 {
    font-size: 32px;
    margin: 0.5em 0;
}

.arrow {
    font-size: 120px;
    display: flex;
    justify-content: center;
    color: #FF0A8E;
    margin-top: -10px;
}

.project .year {
    font-size: 24px;
    color: #FF0A8E;
    margin: 0 0 0.8em 0;
}

.project .project__subtitle {
    color: #FF0A8E;
    margin: 0.5em 0;
    font-size: 18px;
}

.project p {
    letter-spacing: 0.5px;
    line-height: 1.3;
    margin: 2rem 0;
    font-size: 20px;
}

.project + .project {
    margin-top: 6rem;
}

/* CSS for carousel container */
.carousel {
    position: relative;
    max-width: 100%; 
}

/* CSS for slides */
.slides {
    display: flex; /* Arrange slides in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
    max-height: 400px;
}

/* hide scrollbar on most browsers */
.slides::-webkit-scrollbar {
    display: none;
}

/* CSS for individual slide (image) */
.slide {
    flex: 0 0 auto; /* Disable flex grow and shrink */
    scroll-snap-align: start; /* Snap to start of each slide */
    width: 100%;
    display: flex;
}

.slide img {
    width: 100%;
    object-fit: contain;
}

/* CSS for navigation buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #FFA4FB;
    color: #ededed;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.next {
    right: 0px;
    bottom: 0;
    mix-blend-mode: difference;
    background-color: transparent;
}
.prev {
    left: 0px;
    mix-blend-mode: difference;
    bottom: 0;
    background-color: transparent;
}

.right-half .prev {
    color: #ff0a8e;
    left: 0px;
}

.right-half .next {
    color: #ff0a8e;
    right: 0px;
}

@media (min-width: 750px) {
    .container {
        grid-template-columns: 50% 50%;
        grid-template-areas: "left right";
    }

    .overlay-left {
        background-color: #1E541D;
    }

    .left-half, .right-half {
        padding: 70px;
    }

    .next,
    .prev {
        border-radius: 10px;
        bottom: 0;
        color: #D9D9D9;
        background-color: transparent; 
        mix-blend-mode: normal;
    }

    .next {
        right: -60px;
    }

    .prev {
        left: -60px;
    }
    
    .right-half .prev {
        /* color: #ff0a8e; */
        left: -30px;
    }
    
    .right-half .next {
        /* color: #ff0a8e; */
        right: -30px;
    }
    h1 {
        font-size: 85px;
    }
}