header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 10px;
}

header div {
    display: flex;
    align-items: center;
}

.headerStar {
    height: 35px;
}

.research, .design, #indexShowHelp {
    background-color: transparent;
    border: 0px;
    font-size: 3rem;
    font-family: var(--main-font);
    cursor: pointer; /* Cursor style */
    color: #75170B;
}


/* Styling for Help popup */
.contactPopup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(217, 217, 217, 0.45);
    
}

.contactContent {
    background-color: #D9D9D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
    text-align: center;
    font-family: var(--main-font);
}

.popupStar {
    height: 50px;
}

h7 {
    color: #75170B;
    font-size: 25px;
    font-weight: 700;
    
}

h8 {
    color: #75170B;
    font-size: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}

h8 a {
    color: inherit;
    text-decoration: none;
}

h8 a:hover {
    text-decoration: underline;
}

h9 {
    color: #75170B;
    font-size: 10px;
    padding-top: 30px;
    display: block;
}

h9 a {
    color: inherit;
    text-decoration: none;
}

h9 a:hover {
    text-decoration: underline;
}