.right-half {
    background-color: #E1E1E1;
    color: #FF0A8E;
    grid-area: right;
    padding: 70px;
}

.overlay-right {
    width: 100%;
    height: 100%;
    grid-area: right;
    background-color: #FF0A8E;
    transition: background-color 0.5s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.right-half .front-page {
    min-height: calc(100vh - 150px);
}

.right-half h2{
    font-size: 65px;
    font-weight: 300;
    font-family: var(--main-font);
    color: #1E541D;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 50px 0;
}

.right-half button {
    font-size: 18px;
    background-color: #FF0A8E;
    color: #E1E1E1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.6em 1em;
    transition: background-color 0.3s ease;
    font-family: var(--main-font);
}

.right-half button:hover {
    background-color: #FFA4FB;
    color:#1E541D;
}

.right-half .box {
    /* 
    this controls where to scroll to with the buttons
    so that the title appears below the top bar
    */
    scroll-margin-top: 100px;
}

.box + .box {
    margin-top: 100px;
}

.right-half h3 {
    color: #1E541D;
    font-size: 24px;
    margin: 0;
}

.right-half h4 {
    color: #1E541D;
    font-weight: 100;
    font-size: 16px;
    text-align: right;
    margin: 0
}

.right-half .content {
    width: 100%;
    height: 65vh;
    overflow-y: auto;
    margin-top: 30px;
    background-color: transparent;
    border: 3px solid #FF0A8E;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
}

.right-half p {
    color: black;
    line-height: 1.3;
}

.right-half p.content-title {
    font-weight: 700;
}