.right-half {
    background-color: #E1E1E1;
    color: #FF0A8E;
    grid-area: right;
    padding: 2rem;
}

.overlay-right {
    width: 100%;
    height: 100%;
    grid-area: right;
    background-color: #FF0A8E;
    transition: background-color 0.5s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.right-half h2{
    font-size: 55px;
    font-weight: 100;
    font-family: var(--main-font);
    color: #1E541D;
}

.right-half button {
    margin-top: 10px; 
    font-size: 18px;
    background-color: #FF0A8E;
    color: #E1E1E1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
}

.right-half .box {
    margin-top: 100px;
}

.right-half h3 {
    color: #1E541D;
    font-size: 20px;
}

.right-half h4 {
    color: #1E541D;
    font-weight: 100;
    font-size: 15px;
    margin-left: 7%;
    margin-top: -3%;
}

.right-half .content {
    width: 65vh;
    height: 75vh;
    margin: 0 auto;
    margin-top: 30px;
    background-color: transparent;
    border: 3px solid #FF0A8E;
}

.right-half p {
    color: black;
    padding: 10px 10px;
}